.span9
  = bootstrap_flash
  %div
    %ul.breadcrumb
      %li.active Upload

  .hero-unit
    %h2 Download this First !
    %p Hi, it's a upload template, get it first, fill it, then upload it.
    %p
      = link_to "Get the CSV Tempalate", "/public/sample.csv", class: "btn btn-primary btn-small"

  = form_tag({action: :uploading}, multipart: true) do
    %fieldset
      %legend Choose the File
    / .fileupload.fileupload-new(data-provides="fileupload")
    /   .input-append
    /     .uneditable-input.span3
    /       %i.icon-file.fileupload-exists
    /       %span.fileupload-preview
    /     %span.btn.btn-file
    /       %span.fileupload-new Select File
    /       %span.fileupload-exists Change
    /       %input(type="file" name="file" style="width: 97px; height: 30px;")
    /     = link_to "Remove", "#", class: "btn fileupload-exists", "data-dismiss" => "fileupload"
    = file_field_tag 'file'
    = submit_tag "Upload", :class => 'btn btn-primary'

  %table.table.table-striped
    %thead
      %tr
        %th File
        %th Action
    %tbody
      - @files.each do |file|
        %tr
          %td= file.file_name
          %td
            = link_to "view", results_products_path(fid: file.id)


= render partial: "sider"
