!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "ViveSite"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"

  %body
    #wrap
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to "ViveSite", root_path, class: "brand"
            .nav-collapse
              %ul.nav
                %li= link_to "Users", '#'
                %li= link_to "Orders", '#'
                %li= link_to "Autoship", '#'
                %li= link_to "Commissions", '#'
                %li.dropdown
                  %a.dropdown-toggle(data-toggle="dropdown" data-target="#" href="#")
                    More
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to "Products", products_path
                    %li= link_to "Genealogy", '#'
                    %li= link_to "Warehouse", '#'
                    %li= link_to "Accounting", '#'
                    %li= link_to "Configuration", '#'


      .container
        .padding-top

        .row
          = yield
          
      
    #footer
      .container
        %p.muted.credit &copy; Company 2013
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
